<div class="beyonder-modal" [ngClass]="isOpen ? inClassname : outClassname" #self>
  <header>
    <h5 class="modal-title">
      <ng-content select="[modal-header]"></ng-content>
    </h5>
    <button type="button" aria-label="Close the modal" class="modal-close" (click)="close()">×</button>
  </header>

  <main>
    <ng-content select="[modal-body]"></ng-content>
  </main>

  <footer>
    <ng-content select="[modal-footer]"></ng-content>
  </footer>
</div>
